<!DOCTYPE html>
<html>
    <head>
        <title>Coincidence Ah</title>
        <meta name="description" content="Share coincidences in your life." />
        <link rel="stylesheet" type="text/css" href="/css/main.css">
        <link rel="stylesheet" type="text/css" href="/css/skeleton.css">
    </head>
    <body>
        <div class="navbar">
            <ul class="navbar-list">
                <li class="navbar-item">Nowhere</li>
                <li class="navbar-item right">Sign In</li>
            </ul>
        </div>

