<!DOCTYPE html>
<html>
    <head>
        <title>Next Pixel</title>
        <meta name="description" content="Share your favorite scenes in 2 dimension world." />
        <link rel="stylesheet" type="text/css" href="/css/home.css">
        <link rel="stylesheet" type="text/css" href="/css/skeleton.css">
    </head>
    <body>
        <div id="text">
            <h1>Next Pixel</h1>
            <a href="/posts">view all Pixels</a>
        </div>
    </body>

</html>


