<% include partials/header %>
<div class="index-header">
    <h1>Explore Next Pixel</h1>
    <p>Share the best scenes form the 2-D world</p>
    <button><a href="/posts/new">Add New Site</a></button>
</div>

<ul>
    <% list.forEach(function(item){ %>
        <li class="list-item">
            <img class="list-img" src="<%= item.img %>"/>
            <p><%= item.name %></p>
            <a href="/posts/<%= item._id %>">More Info </a>
        </li>

    <% }); %>
</ul>


<% include partials/footer %>

