<% include partials/header %>

<h1>Login to Next Pixel</h1>
<form action="/login" method="post">
    <input type="text" name="username" placeholder="username" />
    <input type="password" name="password" placeholder="password" />
    <button type="submit" >Login</button> 
</form>
    <a href="/register" >Not a user? Register now!</a>
<a href="/">Back to homepage</a>

<% include partials/footer %>