<% include partials/header %>

<h1>Add New Comment to <%= post.name %></h1>
<form action="/posts/<%= post._id %>/comments" method="post">
    <textarea name="comment[text]">content</textarea>
    <button type="submit" >Submit</button>
</form>

<a href="/posts/<%= post._id %>">Back to post</a>

<% include partials/footer %>