html {
    height: 100%;
}

body {
    width: 80%;
    height: 100%;
    margin: 0 auto;
    box-sizing:border-box;
}

ul {
    list-style: none !important;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

img {
    max-width: 100%;
    box-sizing: border-box;
}

form {
    width: 100%;
    margin: 0 auto;
}

form input {
    display: block;
}
form textarea {
    display: block;
    width: 100%;
}

.list-item {
    display:inline-block;
    width:30%;
    border:solid 1px #dedede;
    border-radius: .2rem;
    padding: .5rem;
    margin: 0 1rem 1rem 0;
    box-sizing: border-box;
    vertical-align: top;
}


.list-item p {
    margin: 0;
}

.list-item img {
    border-radius: .2rem;
    width: 100%;
}



.navbar {
    margin: 2px 0; 
}
.navbar-item {
    display: inline;
    letter-spacing: .1rem;
    padding: 0 2px;
}

.right {
    float: right;
}

.left {
    float: left;
}

.strong {
    font-weight: bold;
}


.comment:nth-child(n+2) {
    border-top: 1px solid #dedede ;
    padding-top: 5px; 
}

.comment p {
    margin: .5rem 0;
}

.controls {
    display: inline;
}
.controls * {
    display: inline;
    margin: 0 1px;
    padding: 2px 4px;
    line-height: 20px;
    height: 24px;

}

#flash {
    color: #1EAEDB;
    padding: 2px 5px;
    border: solid 1px #1EAEDB;
    border-radius: .4rem;
    display: inline;
}

.index-header {
    margin-bottom: 3rem;
}

.index-header * {
    color: #1EAEDB;
    margin-bottom: 0;
}

.index-header button {
    border-color: #1EAEDB;
}

.latest-item {
    display: block;
    clear: both;
}

.latest-item span {
    width: 60%;
    display: block;
    float: right;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.latest-item div {
    float: left;
    width: 30%;
    height: 30%;
    background-position: center;
}

#fav-list {
    width: 60%;
}

#avatar {
    padding: 1px;
    border: solid 1px #dedede;
    border-radius: 2px;
}

#username {
    margin-bottom: 10px;
}

#user-header {
    margin-top: 10px;
}

#carousel-wrap {
    height: 150px;
    overflow: hidden;
}


# 个人信息

 - 王亦静/女/1997 
 - 上海外国语大学/信息管理与信息系统系/大三在读/GPA 3.80
 - 北卡罗来纳大学威尔明顿分校/信息系统系/2017 fall交换生
 - Github：https://github.com/JoeyYi
 - 居住地：上海
---      
      
# 联系方式

- 手机/微信：13601832295
- Email：wyjs97115@sina.com


# 个人项目

### SISU Graphics 上外校园楼宇地图应用
https://joeyyi.github.io/SISU-campus-map/
作为项目负责人，带领小组成员编写地图数据，采用jQuery Mobile框架开发界面，HTML5 Canvas绘制地图。成果在创新创业项目评选中获得一等奖，学校范围内有一定量日常使用者。虽然是一个静态网页项目，但由此我对web开发有了初步的了解和进一步学习的兴趣。


### Next Pixel 内容分享平台
https://damp-lake-13286.herokuapp.com
一个用户主要采用Node.js + Express + MongoDB的架构，前后端交互尝试使用RESTful借口和Ajax技术，实现了用户认证、评论、收藏等功能。
.carousel-item img{
    height: 150px;
    width: 150px;
}


@media (max-width: 600px) {
    .three.columns {
        width: 100% !important;
    }
    .nine.columns {
        width: 100% !important;
    }

}

