
body {
    width: 80%;
    margin: 0 auto;
    box-sizing:border-box;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

img {
    max-width: 100%;
    box-sizing: border-box;
}

form {
    width: 100%;
    margin: 0 auto;
}

form input {
    display: block;
}
form textarea {
    display: block;
    width: 100%;
}

.list-item {
    display:inline-block;
    width:30%;
    border:solid 1px #dedede;
    border-radius: .2rem;
    padding: .5rem;
    margin: 0 1rem 1rem 0;
    box-sizing: border-box;
}


.list-item p {
    margin: 0;
}

.list-item img {
    border-radius: .2rem;
}



.navbar {
    margin: 2px 0; 
}
.navbar-item {
    display: inline;
    letter-spacing: .1rem;
    padding: 0 2px;
}

.right {
    float: right;
}

.strong {
    font-weight: bold;
}

.comment:nth-child(n+2) {
    border-top: 1px solid #dedede ;
}

.comment p {
    margin: .5rem 0;
}

.controls {
    display: inline;
}
.controls * {
    display: inline;
    margin: 0 2px;
}

#flash {
    color: #1EAEDB;
    padding: 2px 5px;
    border: solid 1px #1EAEDB;
    border-radius: .4rem;
    display: inline;
}

.index-header {
    margin-bottom: 3rem;
}

.index-header * {
    color: #1EAEDB;
    margin-bottom: 0;
}

.index-header button {
    border-color: #1EAEDB;
}

.fixed-bottom {
    position: fixed;
    bottom: 0;
}


